<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WarsawJS Wybór tematów</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/normalize.css">
</head>
<body>
  <section class="gh-login">
    <p class="gh-login__cta">Zaloguj się przez GitHub</p>
    <button class="gh-login__button">Logowanie</button>
  </section>
  <section class="create">
    <img class="create__img" src="assets/vote.png" />
    <h2 class="create__title">Stwórz workshop</h2>
    <p class="create__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quo inventore ab, alias asperiores, ea voluptatem ad omnis nemo exercitationem totam fugit numquam dignissimos reiciendis unde harum distinctio atque officia.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quo inventore ab, alias asperiores, ea voluptatem ad omnis nemo exercitationem totam fugit numquam dignissimos reiciendis unde harum distinctio atque officia.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quo inventore ab, alias asperiores, ea voluptatem ad omnis nemo exercitationem totam fugit numquam dignissimos reiciendis unde harum distinctio atque officia.
    </p>
  </section>
  <form class="create-form">
    <h3 class="create-form__title">Zgłoś propozycję warsztatów</h3>
    <input
      class="create-form__topic"
      placeholder="Temat"
    />
    <textarea
      class="create-form__description"
      placeholder="Opis"
    ></textarea>
    <input
      class="create-form__submit"
      type="submit"
      value="Prześlij"
    />
  </form>
  <section class="submitted">
    <h2 class="submitted__title">Zgłoszone tematy</h2>
  </section>
  <section class="past">
    <h2 class="past__title">Warsztaty, które już się odbyły</h2>

    <button class="past__all">
      <span class="past__all-text">Zobacz wszystkie</span>
      <span class="past__all-chevron">V</span>
    </button>
  </section>

  <script src="scripts/index.js"></script>
</body>
</html>
